/* COLORS */

$color1: 	#bfa77e; // BEGE
$color2: 	#969495; // CINZA ITEM MENU
$color3: 	#bea67c; // BEGE TITULO
$color4: 	#999391; // CINZA SLICK DOTS
$color5: 	#262626; // QUASE PRETO - TITULO DOS PRODUTOS
$color6: 	#f6f6f6; // CINZA - FUNDO NEWS
$color7: 	#212121; // QUASE PRETO - TITULO NEWS
$color8: 	#606060; // CINZA CLARO - TEXTO NEWS
$color9: 	#daceb9; // SLICK DOTS GOLD
$color10: #ededed; // CINZA CLARO - BORDA INPUT
$color11: #999999; // CINZA ESCURO - TEXTO INPUT


/* FONTS */

$open: 		'Open Sans', sans-serif;
$georgia: 'Georgia', 'Open Sans', sans-serif;
$pf:			'Playfair Display', 'Open Sans', sans-serif;